.container {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: aliceblue;
}

.link {
  text-decoration: none;
}

.title {
  text-align: center;
  margin: 0.5rem;
  color: #27b6f8;
}
