.container {
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: aliceblue;
}

.link {
  text-decoration: none;
}

.backButton {
  width: 5vw;
  margin: 0.5rem;
  color: #27b6f8;
}

.title {
  width: 95vw;
  text-align: center;
  margin: 0.5rem;
  color: #27b6f8;
}
